* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto';
}

.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.jcc {
    justify-content: center;
}
.jcsb {
    justify-content: space-between;
}
.aic {
    align-items: center;
}
.hidden {
    display: none;
}
ul, li {
  list-style-type: none;
}
a {
    text-decoration: none;
}

.calculator {
  height: 100vh;
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  
}
.container {
  width: 380px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 35px 2px rgb(45,29,70);
  padding: 20px;
}
.display {
  width: 100%;
  height: 70px;
  border: none;
  outline: none;
  background-color: #ebeced;
  border-radius: 5px;
  box-shadow: inset 6px 6px 6px #a9aaab;
  margin-bottom: 10px;
  text-align: right;
  padding-right: 20px;
  font-size: 24px;
}

.row {
  width: 100%;
  margin-bottom: 10px;
}

.row:last-child {
  margin-bottom: 0;
}

.btn {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 5px 5px 10px #c2c2c3;
}

.btn:hover {
  background-color: #fff;
  box-shadow: inset 5px 5px 10px  #d1d1d5;
}

#eval {
  background-color: #8B9D77;
  color: #fff;
}
#eval:hover {
  box-shadow: inset 5px 5px 10px #5f6e4e;
  ;
}

#AC {
  background-color: #EDC5AB;
  color: #fff;
}
#AC:hover {
  box-shadow: inset 5px 5px 10px #b6947d;
}

#C {
  background-color: #217074;
  color: #fff;
}
#C:hover {
  box-shadow: inset 5px 5px 10px #1c6164;
}